body {
    font-family: 'Bookman Old Style';
    min-width: 400px;
    max-width: 1500px;
    margin: auto;
    height: 1rem;
}

h2 {
    text-align: center;
    font-size: max(2.5vw, 20px);
    margin-top: 0px;
    font-variant-caps: small-caps;
}

h4 {
    text-align: center;
    font-size: max(1.5vw, 20px);
    margin-top: 2rem;
}

header {
    min-width: 500px;
}

header h1 {
    font-family: 'Perpetua';
    font-variant-caps: small-caps;
    font-weight: 500;
    font-size: 8vw;    
    text-align: center;
    margin: 0px;
    margin-top: 4vw;
    margin-bottom: 1vw;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    
    padding-inline-start: 0%;
    padding-left: 15%;
    padding-right: 15%;
}

.menu-text {
    position: relative;
    left: 0;
    
}

nav ul li {
    background-color: black;
    
    text-align: center;
    vertical-align: center;
    width: 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3vw;
    border-radius: 25px;
   
    
   
}

nav ul li a {
    color: white;
    font-weight: 500;
    font-variant-caps: all-small-caps;
   
}

article p, article ol li {
    text-align: justify;
    font-size: max(1.4vw, 18px);
    margin-left: 10%;
    margin-right: 10%;
}

.download-link {
    text-align: center;
    font-size: max(1.4vw, 18px);
   
}



nav ul li a:link, nav ul li a:visited, nav ul li a:active {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(106, 106, 226);
}

h1 a:link, h1 a:visited, h1 a:active {
    text-decoration: none;
    color: black;
}

h1 a:hover {
    text-decoration: none;
    color: rgb(0, 0, 255);
}

#navigation-menu {
    position: sticky;
    top: 0;
}

.tiles-container {
    display: flex;
    justify-content: space-around;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

.tile {
    position: relative;
    border: 2x black solid;
    font-size:2rem;
}

.tile-title {
    position: absolute;
    top: 0;
    left: 20px;
    text-shadow: #FFF 1px 1px 2px;
    background: #FFF;
    transform: rotate(2deg);
    border-radius: 20% 25% 20% 24%;
    padding: 10px 3px 3px 10px;

    
    color: black;
}

.tile-image {
    border-radius: 90px;
}

.photos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-horizontal, .photo-vertical {
    max-width: 100%;
    height: auto;
    border: 20px solid #000000;
    border-radius: 4px;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
    nav ul li a {        
        font-weight: 500;
        font-size: 15px;        
    }
    nav ul li  {        
        width: 50%;       
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;       
        align-items: center;
        padding-inline-start: 0%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .tile-image {
        width: 300px;
        border-radius: 60px;
    }

    
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    nav ul li a {        
        font-weight: 500;
        font-size: 20px;       
    }
}

@media screen and (min-width: 992px) and (max-width: 10000px) {
    nav ul li a {
        font-weight: 500;
        font-size: 30px;        
    }
}