body {
    font-family: 'Bookman Old Style';
    min-width: 400px;
    max-width: 1500px;
    margin: auto;
    height: 1rem;
}

h3 {
    text-align: center;
    font-size: max(2.5vw, 20px);
    margin-top: 0px;
    font-variant-caps: small-caps;
}

header {
    min-width: 400px;
}

header h1 {
    font-family: 'Perpetua';
    font-variant-caps: small-caps;
    font-weight: 500;
    font-size: 8vw;    
    text-align: center;
    margin: 0px;
    margin-top: 4vw;
    margin-bottom: 1vw;
}

nav ul { 
    display: inline;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
}

nav ul li {
    background-color: black;
    float: left;
    text-align: center;
    width: 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3vw;
    border-radius: 25px;
    height: 3vw;
}

nav ul li a {
    color: white;
    font-size: 2vw;
    font-weight: 500;
    font-variant-caps: all-small-caps;
    vertical-align: center;
}

article p {
    text-align: justify;
    font-size: max(1.5vw, 22px);
    
    margin-left: 10%;
    margin-right: 10%;
}



nav ul li a:link, nav ul li a:visited, nav ul li a:active {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(106, 106, 226);
}

h1 a:link, h1 a:visited, h1 a:active {
    text-decoration: none;
    color: black;
}

h1 a:hover {
    text-decoration: none;
    color: rgb(0, 0, 255);
}