
@font-face {
    font-family: 'ITC Cheltenham Std Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Cheltenham Std Bold Italic'), url('../fonts/CheltenhamStdBoldItalic.woff') format('woff');
    }

@font-face {
    font-family: 'ITC Cheltenham Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Cheltenham Std Book'), url('../fonts/CheltenhamStdBook.woff') format('woff');
    }

@font-face {
    font-family: 'ITC Cheltenham Std Light';
    font-style: normal;
    font-weight: normal;
    src: local('ITC Cheltenham Std Light'), url('../fonts/CheltenhamStdLight.woff') format('woff');
    }

html {
    font-size: 18px;
    font-family: 'ITC Cheltenham Std Light';
}

main {
    margin: 0 auto;
}


h2 {
    font-family: 'ITC Cheltenham Std Book';
    text-align: center;
    margin-bottom: 0%;
    text-transform: capitalize;
}

h3 {
    font-family: 'ITC Cheltenham Std Light';
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 0;
}

h4 {
    text-align: center;
    margin-top: 2rem;
}

header {
    min-width: 200px;
}

header h1 {
    font-family: 'ITC Cheltenham Std ';
    font-variant-caps: small-caps;
    font-weight: 500;
    text-align: center;
    margin: 0px;
    margin-top: 4vw;
    margin-bottom: 1vw;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    
    padding-inline-start: 0%;
    padding-left: 15%;
    padding-right: 15%;

}

.menu-text {
    position: relative;
    left: 0;
    
}

nav ul li {
    background-color: black;
    text-align: center;
    vertical-align: center;
    width: 30%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3vw;
    border-radius: 25px;
}

nav ul li a {
    color: white;
    font-weight: 500;
    font-variant-caps: all-small-caps;
   
}

article p, article ol li {
    text-align: justify;
   
}

.download-link {
    text-align: center;
    font-size: max(1.4vw, 18px);
   
}



nav ul li a:link, nav ul li a:visited, nav ul li a:active {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color: rgb(106, 106, 226);
}

h1 a:link, h1 a:visited, h1 a:active {
    text-decoration: none;
    color: black;
}

h1 a:hover {
    text-decoration: none;
    color: rgb(0, 0, 255);
}

#navigation-menu {
    padding-top: 10px;
    top: 0;
}

.tiles-container {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

.tile {
    position: relative;
    border: 2x black solid;
    font-size:2rem;
    padding-right: 10px;
}

.tile-title {
    position: absolute;
    top: 0;
    left: 20px;
    text-shadow: #FFF 1px 1px 2px;
    background: #FFF;
    transform: rotate(2deg);
    border-radius: 20% 25% 20% 24%;
    padding: 10px 3px 3px 10px;
    border-style: solid;
    border-color: #000000;
    color: black;
}

.tile-image {
    border-radius: 90px;
    border-style: solid;
    border-color: #000000;
}

.photos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-horizontal, .photo-vertical {
    max-width: 800px;
    height: auto;
    max-height: 800px;
    margin-top: 20px;
}


#contact-form {
    width: 70%;
    margin: auto;
    display: grid;
}

#contact-form input, #contact-form textarea {
    display: inline-block;
    width: 90%;
    min-width: 200px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'ITC Cheltenham Std Light';
    padding: 16px 16px;
    border-radius: 20px;
    border-width: 3px;
    border-color: black;
}

#contact-form button {
    width: 100px;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'ITC Cheltenham Std Light';
    padding: 10px 18px;
    margin: auto;
    background-color: #000000;
    color: white;
    display: inline-block;
}

@media screen and (min-width: 10px) and (max-width: 767px) {
    nav ul li a {        
        font-weight: 500;
        font-size: 20px;        
    }

    h3 {
        font-size: 18px;
        line-height: 22px;
    }

    h6 {
        font-size: 20px;
    }
    
    
    
    
    nav ul li  {        
        width: 50%;     
        border-radius: none;  
        
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;       
        align-items: center;
        padding-inline-start: 0%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .tile-image {
        max-width: 250px;
        border-radius: 60px;
        margin: 5px 0;
    }

    .photo-horizontal, .photo-vertical {
        width: 100vw;
    }
    #contact-form {
        width: 100%;
        margin: 0px 0px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    header h1 a {
        font-size: 4rem;
    }
    nav ul li a {
        font-weight: 500;
        font-size: 20px;        
    }
    p, h1, h2, h3 {
        margin-left: 15%;
        margin-right: 15%;
    }
    h2 {
        font-size: 3.00rem;
        line-height: 3.0625rem;
    }
    h3, h4 {
        font-size: 1.80rem;
        line-height: 2.10rem;
        margin-top: 1rem;
    }
    p, li {
        font-size: 1.25rem;
        line-height: 1.875rem;
    }
    li {
        margin: 0 15%;
    }
    html {
        width: calc(auto);
        max-width: 1000px;
        margin: 0 auto;
    }
    header h1 {
        font-size: 100px;
    }
    .tile-image {
        width: 300px;
    }
    .tiles-container {
        margin: 60px 1%;
        
    }

    .photo-horizontal, .photo-vertical {
        width: 100vw;
    }

}

@media screen and (min-width: 992px) {
    nav ul li a {
        font-weight: 500;
        font-size: 30px;        
    }
    p, h1, h2, h3 {
        margin-left: 15%;
        margin-right: 15%;
    }
    h2 {
        font-size: 3.00rem;
        line-height: 3.0625rem;
    }
    h3, h4 {
        font-size: 1.80rem;
        line-height: 2.10rem;
        margin-top: 1rem;
        max-width: 550px;
        text-align: center;
        margin-left:  auto;
        margin-right: auto;
    }
    p, li {
        font-size: 1.25rem;
        line-height: 1.875rem;
    }
    li {
        margin: 0 15%;
    }
    html {
        width: calc(auto);
        max-width: 1000px;
        margin: 0 auto;
    }
    header h1 {
        font-size: 100px;
    }
    .tile-image {
        width: 300px;
    }
    .tiles-container {
        margin: 60px 1%;
        
    }
}